<h2> Import Items into Collection </h2>
<p> Upload a CSV file to import items into the collection. </p>
<%= form_tag import_collections_path, method: :post, multipart: true do %>
  <%= file_field_tag :file, accept: ".csv", multiple: true %>
  <%= hidden_field_tag :collection_id, @collection.id %>
  <%= button_tag type: 'submit', class: 'btn btn-primary' do %>
  Import <i class="bi bi-box-arrow-in-down"></i>
  <% end %>
<% end %>
