<%= form_tag import_collections_path, method: :post, multipart: true, onsubmit: "return showImportStart()" do %>
  <%= file_field_tag :file, accept: ".csv", multiple: true %>
  <%= hidden_field_tag :collection_id, @collection.id %>
  <%= submit_tag '⚙️ Import' %>
<% end %>

<script>
  function showImportStart() {
    
    const alerts = document.querySelectorAll('.alert');
    alerts.forEach(alert => {
      alert.remove();
    });

    const newAlert = document.createElement('div');
    newAlert.className = 'alert alert-info alert-dismissible fade show';
    newAlert.setAttribute('role', 'alert');
    newAlert.innerHTML = `
      Import Started...
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    `;

    const container = document.querySelector('.position-absolute.end-0.p-2');
    if (container) {
      container.prepend(newAlert);
    } else {
      document.body.prepend(newAlert);
    }
  }
</script>