<div class="container my-5">
  <% is_preview = params[:preview].present? %>
  <%= render "layouts/announcement", is_preview: is_preview, location: "collections_index" %>

  <h1 class="fw-bold mb-4">Explore Collection Catalog</h1>

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
    <% @collections.each do |collection| %>
      <div class="col">
        <%= render partial: "collection_card", locals: { collection: collection } %>
      </div>
    <% end %>
  </div>

  <% if is_super_admin? %>
    <div class="mt-4 text-end">
      <%= link_to "New Collection", new_collection_path, class: "btn btn-success" %>
    </div>
  <% end %>
</div>
