<h1>Manage Announcements</h1>
<table class="table">
  <thead>
    <tr>
      <th>Location</th>
      <th>Displayed?</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @announcements.each do |announcement| %>
      <tr>
        <td><%= announcement.location.humanize %></td>
        <td><%= announcement.displayed? ? "✅" : "❌" %></td>
        <td><%= link_to "Edit", edit_announcement_path(announcement) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

