<%= form_with url: update_user_field_path(field), method: :patch do %>
  <div class="card p-3">
    <div class="card-body">
      <label class="form-label"><%= field.titleize %></label>
      <%= text_field_tag "user[#{field}]", user.send(field), class: "form-control" %>

      <%= submit_tag "Save", class: "btn btn-primary mt-3" %>
    </div>
  </div>
<% end %>
