<h2 class="text-center">Items for Checkout</h2>
<p>
  <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-3">
    <% @checkout_items.each do |item| %>
      <div class="col">
        <div class="card h-100 shadow-sm">
          <div class="card-body">
            <% item.split(',').each do |part| %>
              <p class="mb-1"><%= part.strip %></p>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</p>