<h2 class="mb-3 text-center">Loan Questionnaire Answers</h2>
<% if @loan_answers.present? %>
  <div class="row g-3">
    <% @loan_answers.each do |question, answer| %>
      <div class="col-lg-3 col-md-4 mb-3">
        <%= render partial: "profiles/user_loan_answer", locals: { question: question, answer: answer } %>
      </div>
    <% end %>
  </div>
<% else %>
  <p>No loan answers provided.</p>
<% end %>
