<div id="user_field_<%= field_name %>" class="border rounded p-3 mb-3">
  <p>
    <strong><%= label %></strong>
    <% unless field_name == "orcid" %>
      <span class="text-danger">*</span>
    <% end %>
  </p>

  <p>
    <% if value.present? %>
      <%= value %>
    <% else %>
      <% if field_name == "orcid" %>
        <span class="text-muted">No answer provided.</span>
      <% else %>
        <span class="text-danger">Warning: This question is required but not answered.</span>
      <% end %>
    <% end %>
  </p>
  <% unless local_assigns[:disabled] %>
    <%= link_to "Edit",
                edit_user_field_path(field_name, format: :turbo_stream),
                data: {
                  turbo_frame: "modal_content_frame",
                  bs_toggle: "modal",
                  bs_target: "#sharedModal"
                },
                class: "btn btn-sm btn-outline-primary" %>
  <% end %>

</div>
