<h2>User Info</h2>

  <div>
    <p>
      <strong>First Name: </strong> 
      <%= @user.first_name %>
    </p>
  </div>

  <div>
    <p>
      <strong>Last Name: </strong> 
      <%= @user.last_name %>
    </p>
  </div>

  <div>
    <p>
      <strong>Affiliation: </strong> 
      <%= @user.affiliation %>
    </p>
  </div>

  <div>
    <p>
      <strong>Orcid: </strong> 
      <%= @user.orcid %>
    </p>
  </div>
