<div id="user_field_<%= field_name %>" class="border rounded p-3 mb-3">
  <p>
    <strong><%= label %></strong>
    <span class="text-danger">*</span>
  </p>

  <p>
    <% if value.present? %>
      <%= value %>
    <% else %>
      <span class="text-danger">Warning: This question is required but not answered.</span>
    <% end %>
  </p>

  <%= link_to "Edit",
              edit_user_field_path(field_name, format: :turbo_stream),
              data: {
                turbo_frame: "edit_user_field_modal_content_frame",
                bs_toggle: "modal",
                bs_target: "#sharedModal"
              },
              class: "btn btn-sm btn-outline-primary" %>

</div>
