<h2 class="text-center">Collection Questionnaire Answers</h2>

<% if @collection_answers.present? %>
  <% @collection_answers.each do |collection, qa_data| %>
    <h3><%= collection.division %></h3>
    <div class="row g-3">
      <% qa_data.each do |question, answer| %>
        <div class="col-lg-3 col-md-4 mb-3">
          <%= render partial: "profiles/user_collections_answer", locals: { collection: collection, question: question, answer: answer } %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
