<h2>User Loan Answers</h2>
<% if @loan_answers.present? %>
  <% @loan_answers.each do |answer| %>
    <%= render "loan_answers/loan_answer", answer: answer %>
  <% end %>
<% else %>
  <p>No loan answers provided.</p>
<% end %>
