<% content_for :title, "Editing Collection-Specific Question" %>

<h1>Editing Collection-Specific Question</h1>

<%= render "edit_form", collection: @collection, collection_question: @collection_question %>

<br>
