<p style="color: green"><%= notice %></p>

<% content_for :title, "FAQs" %>

<h1 class="text-center">FAQs</h1>

<div id="faqs">
  <% @faqs.each do |faq| %>
    <%= render faq %>
  <% end %>
</div>

<% if is_super_admin? %>
  <div class="mt-4 text-end">
    <%= link_to "New FAQ", new_faq_path, class: "btn btn-primary mb-3" %>
  </div>
<% end %>
