<% content_for :title, "New FAQ" %>

<h1 class="mb-3 text-center">New FAQ</h1>

<%= render "form", faq: @faq %>

<br>

<div class="mt-3 text-center">
  <%= link_to "Back to FAQs", faqs_path, class: "btn btn-secondary" %>
</div>
