<div class="mx-auto w-full">
  <% is_preview = params[:preview].present? %>
  <%= render "layouts/announcement", is_preview: is_preview, location: "app_preferences" %>

  <h1>Application Preferences</h1>
  <%= render "app_preferences/all_preferences" %>
</div>
