<%- if devise_mapping.omniauthable? %>
  <div>
    <p>University of Michigan Community</p>
    <p>login below with a University of Michigan uniqname or Friend Account</p>
    <%= button_to "Sign in with U-M account", omniauth_authorize_path(resource_name, provider), class: "btn btn-warning btn-sm m-4", data: { turbo: false } %><br />
  </div>
  <div>
    <p>University of Michigan Guests</p>
    </p>If you do not have University of Michigan login credentials</p>
      <%= link_to 'Create an Account', 'https://friend.weblogin.umich.edu/friend/', class: "btn btn-primary btn-sm m-4" %>
  </div>
<% end %>
