<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <% if @global_saved_searches.any? %>
        <%= render partial: "list_of_saved_searches", locals: { type: :global, saved_searches: @global_saved_searches } %>
      <% end %>
      <% if user_signed_in? %>
        <div class="d-flex justify-content-between align-items-center mb-4">
          <h2>My Search Templates</h2>
          <%= link_to "New Search Template", search_items_path, class: "btn btn-primary" %>
        </div>
        <% if @saved_searches.any? %>
          <%= render partial: "list_of_saved_searches", locals: { type: :personal, saved_searches: @saved_searches } %>
        <% end %>
      <% end %>
      <% if @saved_searches.empty? && @global_saved_searches.empty? %>
        <div class="text-center">
          <div class="mb-4">
            <i class="fas fa-search fa-3x text-muted"></i>
          </div>
          <h3 class="text-muted">No Search Templates Yet</h3>
        </div>
      <% end %>

    </div>
  </div>
</div>
