<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-lg-6 w-100">
      <!-- Heading -->
      <% is_preview = params[:preview].present? %>
      <%= render "layouts/announcement", is_preview: is_preview, location: "about" %>
    </div>
  </div>

  <div class="d-grid w-25 mt-6 mb-8">
    <% if current_user %>
      <div>
        <%= button_to destroy_user_session_path, method: :delete, data: {turbo: "false"}, class: "btn btn-sign" do %>
          <span>Log Out</span>
        <% end %>
      </div>
    <% else %> 
      <div>
        <%= button_to "Sign In", user_saml_omniauth_authorize_path, data: {turbo: "false"}, class: "btn btn-sign" %>
      </div>
    <% end %>
  </div>
</div>
