<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<div class="alert alert-primary" role="alert">
  This is a primary alert—check it out!
</div>

<% if current_user %>
  <div class="d-flex flex-row justify-content-center align-items-center mt-2">
    <%= button_to destroy_user_session_path, method: :delete, data: {turbo: "false"}, class: "btn btn-sign" do %>
      <span>Log Out</span>
    <% end %> 
  </div>
<% else %>
  <div>
    <%= button_to user_saml_omniauth_authorize_path, data: {turbo: "false"} do %>
      <div class="px-1 shadow-sm font-medium rounded text-blue-900 bg-yellow-550 hover:bg-yellow-500 hover:underline">Sign In</div>
    <% end %>
  </div>
<% end %>
