<div id="<%= dom_id loan_question %>">
  <p>
    <strong>Question:</strong>
    <%= loan_question.question %>
  </p>

  <p>
    <strong>Question type:</strong>
    <%= loan_question.question_type %>
  </p>

  <% loan_question.options.each do |option| %>
  <p>
    <%= option.value %>
  </p>
<% end %>

</div>
