<div class="mx-3">
  <%= form.label :value, "Option" %> (<%= button_tag "Remove", type: :button, class: "btn btn-sm", data: {action: "edit-options#remove"} %>)
  <%= form.text_field :value, required: true, class: "input_text_field" %>
</div>
