<% content_for :title, "Editing loan question" %>

<h1>Editing loan question</h1>

<%= render "edit_form", loan_question: @loan_question %>

<br>

<div>
  <%= link_to "Back to loan questions", loan_questions_path %>
</div>
