<!-- This file lives in app/views/errors/service_unavailable_error.html.erb -->
<div class="dialog">
  <div>
    <h1>We're sorry, but something went wrong: Service Unavailable - Request timeout</h1>
  </div>
  <p>Try using navigation to get back on track<br>
    
    or go to the <a href="/" class="link_to">homepage</a>
    
    or <a id="myCustomTrigger" class="link_to" href="#" data-email="<%= session[:user_email]%>">Report an Issue</a>
    </p>
</div>
