<div class="my-2 ml-4">
  <%= page_entries_info @items %> from <%= @collections %>
</div>
<% if @items.empty? %>
  <div class="alert alert-warning mt-3">
    No items available for this search.
  </div>
<% else %>
  <% if view == 'rows' %>
    <%= render partial: 'result_rows', locals: { items: @items } %>
  <% else %>
    <%= render partial: 'result_cards', locals: { items: @items } %>
  <% end %>
<% end %>
