<div class="container-fluid">
  <div class="row">
    <!-- Sidebar: Advanced Search -->
    <div class="col-md-5 mt-3">
      <div class="p-3 bg-light border rounded h-100">
        <%= render partial: 'layouts/advance_search' %>
      </div>
    </div>

    <!-- Main Content: Search Results -->
    <div class="col-md-7 mt-3">
      <h1>Search Results for Items</h1>

      <% if @items.empty? %>
        <div class="alert alert-warning mt-3">
          No items available in this collection.
        </div>
      <% else %>
        <%= render partial: 'result_list' %>
      <% end %>
    </div>
  </div>
</div>
