<div>
  <%= render partial: 'layouts/advance_search' %>
</div>
<h1>Search Results for Items</h1>
<% if @items.empty? %>
      No items available in this collection.
    <% else %>
      <%= render partial: 'result_list'%>
    <% end %>