<p>Dear <%= @user.first_name %>,</p>

<p>We've received your loan request submitted on <%= @loan_request.created_at.strftime("%B %d, %Y") %>.</p>

<p>Attached to this email, you'll find a copy of your request in both PDF and CSV formats.</p>

<% if @custom_email_message.present? %>
  <% @custom_email_message.each do |collection_name, message| %>
    <p><b><%= sanitize(collection_name) %>:</b>
      <br><%= sanitize(message) %>
    </p>
  <% end %>
<% end %>

<p>Thank you for using our system. We'll reach out to you if we need more information.</p>

<p>The Collections Team</p>
