<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>BioRepository Information Request</p>
    <p>
      <b>Submitted: </b><%= @user.email %>
    </p>
    <p>
      <%= raw(@message) %>
    </p>
    
  </body>
</html>
