<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>BioRepository Loan Request</p>

    <p>Hello,</p>
    <p>Please find attached the loan request CSV and PDF file.</p>
    <p>
      Submitted by <%= @user.name_with_email %>
    </p>
  </body>
</html>
