<% content_for :title, "Editing identification" %>

<h1>Editing identification</h1>

<%= render "form", identification: @identification %>

<br>

<div>
  <%= link_to "Show this identification", @identification %> |
  <%= link_to "Back to identifications", identifications_path %>
</div>
