<p style="color: green"><%= notice %></p>

<% content_for :title, "Identifications" %>

<h1>Identifications</h1>

<div id="identifications">
  <% @identifications.each do |identification| %>
    <%= render identification %>
    <p>
      <%= link_to "Show this identification", identification %>
    </p>
  <% end %>
</div>

<%= link_to "New identification", new_identification_path %>
