<% content_for :title, "New identification" %>

<h1>New identification</h1>

<%= render "form", identification: @identification %>

<br>

<div>
  <%= link_to "Back to identifications", identifications_path %>
</div>
