<div class="d-flex flex-column flex-md-row align-items-center justify-content-between">
  <h1>Search Statistics Report</h1>
  <%= link_to 'Back to Reports', reports_path, class: "btn btn-outline-primary m-3 z-3 shadow" %>
</div>
<p>This report shows Search Statistics.</p>

<div class="py-3">
  <%= render 'filter_form', report_url: search_statistics_report_reports_path %>

  <% if params[:commit] && params[:format] == 'html' %>
    <%= render 'reports_table' %>
  <% end %>
</div>
