<% if active_filters.present? %>
  <div class="mb-3">
    <ul class="list-inline mb-0">
    For
      <% active_filters.each do |filter| %>
        <li class="list-inline-item badge bg-primary text-white p-2 m-1">
          <%= filter %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
