<div class="d-flex flex-row align-items-center justify-content-center gap-2 h-100">
  <p class="fw-semibold mb-0 fs-6 text-dark">Have A Question?</p>
  <%= link_to "Frequently Asked Questions", faqs_path,
              class: "btn btn-primary btn-sm px-3 py-1 small" %>
</div>
