<div class="d-flex flex-column align-items-center justify-content-center gap-2 h-100">
  <p class="fw-semibold mb-0 fs-6 text-dark">Have a Question?</p>
  <%= link_to "Help", faqs_path,
              class: "btn btn-primary btn-sm px-3 py-1 small" %>
</div>
