<div class="d-flex flex-column align-items-center justify-content-center text-center h-100">
  <p class="fw-semibold mb-2 fs-5 text-dark">Have A Question?</p>
  <%= link_to "Request Information", new_information_request_path,
              class: "btn btn-primary btn-sm px-3 py-1 small" %>
</div>
