<div class="text-center">
  <h4 class="fs-4 fw-bold text-dark">Have a question?</h4>
</div>
<div class="text-center">
  <%= link_to "Request Information",
              information_request_path,
              class: "btn btn-primary px-4" %>
</div>
