<nav class="navbar navbar-expand-md navbar-dark bg-um-blue">
  <div class="container-fluid" style="--bs-focus-ring-color:#E5E5E5;" >
    <%= link_to root_path, class: "a-nav focus-ring border-0 rounded-2" do %>
      <div id="LSAlogo" class="d-flex align-items-center">
        <div class="navbar-brand">
          <%= image_tag 'LSA_Logo.svg', alt: 'LSA Logo', class: 'logo_image' %>
        </div>
        <div class="nav-title h-100">
          SpaceReady
        </div>
      </div>
    <% end %>
  </div>
</nav>
