<%= search_form_for @q, url: search_items_path, method: :post, html: { class: "p-2 bg-light rounded shadow-sm" } do |f| %>
  <div class="mb-2">
    <%= f.label :country_or_state_province_or_identifications_scientific_name_or_identifications_vernacular_name_cont, 
                "What can we help you find?", 
                class: "form-label fw-semibold" %>
  </div>

  <div class="input-group">
    <%= f.search_field :country_or_state_province_or_identifications_scientific_name_or_identifications_vernacular_name_cont, 
          placeholder: "Country, State, Province, Scientific or Vernacular Name", 
          class: "form-control form-control-lg" %>

    <button type="submit" class="btn btn-primary btn-lg">
    Search
    </button>
  </div>
<% end %>
