<%= search_form_for @q, url: search_items_path, method: :post do |f| %>
<div class="m-2">
    <%= f.label :country_or_state_province_or_identifications_cont, "What can we help you find?" %>
</div>
<div class="d-flex text-nowrap align-items-center m-2">
    <%= f.search_field :country_or_state_province_or_identifications_scientific_name_cont, placeholder: 'Country, State, Province, or Scientific Name', class: "form-control form-control-sm" %>
    <%= f.submit "Search" %>
</div>
<div>
    <%# = f.label :catalog_number_eq, "Catalog Number" %>
    <%#= f.search_field :catalog_number_eq %>
</div>
<% end %>
