<div class="search-row d-flex align-items-center mb-2" data-search-target="row">
  <% select_id = "search_field_#{group_index}_#{field_index}" %>
  <% base_name = "q[groupings][#{group_index}][#{field_index}]" %>
  <label for="<%= select_id %>" class="form-label me-2">Search Field</label>

  <%= select_tag "#{base_name}[field]",
    options_for_select([
      ["Scientific Name", "identifications_scientific_name_i_cont_any"],
      ["Vernacular Name", "identifications_vernacular_name_i_cont_any"],
      ["Preparation Type", "preparations_prep_type_i_cont_any"],
      ["Preparation Description", "preparations_description_i_cont_any"],
      ["Associated Sequences", "associated_sequences_i_cont_any"],
      ["Catalog Number", "catalog_number_cont_any"],
      ["County", "county_i_cont_any"],
      ["Event Remarks", "event_remarks_i_cont_any"],
      ["Field Number", "field_number_i_cont_any"],
      ["Geodetic Datum", "geodetic_datum_i_cont_any"],
      ["Georeference Protocol", "georeference_protocol_i_cont_any"],
      ["Georeferenced By", "georeferenced_by_i_cont_any"],
      ["Life Stage", "life_stage_i_cont_any"],
      ["Locality", "locality_i_cont_any"],
      ["Occurrence Remarks", "occurrence_remarks_i_cont_any"],
      ["Organism Remarks", "organism_remarks_i_cont_any"],
      ["Other Catalog Numbers", "other_catalog_numbers_i_cont_any"],
      ["Recorded by", "recorded_by_i_cont_any"],
      ["Reproductive Condition", "reproductive_condition_i_cont_any"],
      ["Sampling Protocol", "sampling_protocol_i_cont_any"],
      ["Verbatim Coordinates", "verbatim_coordinates_i_cont_any"],
      ["Verbatim Elevation", "verbatim_elevation_i_cont_any"],
      ["Verbatim Event Date", "verbatim_event_date_i_cont_any"],
      ["Verbatim Locality", "verbatim_locality_i_cont_any"],
      ["Vitality", "vitality_i_cont_any"],
    ],
    selected_field
  ),
    id: select_id,
    class: "form-select me-2 dynamic-search-field"
  %>

  <%= text_field_tag "#{base_name}[value]",
    entered_value, placeholder: "contains...",
    class: "form-control me-2 dynamic-search-value",
    aria: { label: "Search Value" } %>

    <button type="button" class="btn btn-outline-danger" data-action="click->search#removeField" aria-label="Remove search field">✕</button>
</div>
